@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
  font-family: 'Lato', sans-serif;
 background-color: #F3F4F9;
 height: 10vh; 
}

.App{
  display: flex;
  flex-direction: column;
  
}

/* navbar */
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 28px;
  padding-left: 35px;
  margin-left: -120px;
  
}

.navbar-logo{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #673CDF;
  padding-right: 100px;

}

.navbar-items{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-home{
  display: flex;
  align-items: center;
  margin-right: 30px ;
  cursor: pointer;

  font-weight: bold;
  color: #6A6969;
  font-size: 15px;
}
.navbar-post{
 padding-left: 20px ;
 font-size: 20px;
 font-weight: bold;

}

.navbar-newPost{
height: 50px;
width: 140px;
cursor: pointer;

 font-size: 15px;
 font-weight: bold;
 border: none;
 background-color: #673CDF;
 border-radius: 5px;
 color: white;
}

/* navbar end */

.mainBlog{
  padding-top: 20px;
  padding-left: 150px;
  align-items: center;
  
}

.Post-Component{
  
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* wrap login with this */
.loginWrapper{
  display: flex;
  justify-content: center;
}